.policy {
  text-align: left;
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
}

.tool-list ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 4em;
  gap: 10px;
}

